//*! MEDIA QUERYS DE INDEX*/

@media (max-width: 1075px) {
    main {
        .productos {
            .grilla-productos {
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 400px;
                margin-bottom: 30px;
                align-items: center;
            }

            .productos h2 {
                grid-column: 1/3;
            }

            .presentacion p {
                font-size: 15px;
            }
        }

        .presentacion {
            height: 450px;

            iframe {
                width: 400px;
                height: 250px;
            }

            h2 {
                font-size: 33px;
            }

            p {
                font-size: 16px;
                text-align: center;
                margin-bottom: 25px;
            }
        }

        .whatsapp {
            display: none;
        }
    }
}

@media (max-width: 883px) {
    main {
        .presentacion {
            iframe {
                width: 370px;
                height: 230px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    footer {
        img {
            width: 180px;
            height: 90px;
        }

        div {
            .atencion {
                h2 {
                    font-size: 22px;
                }

                p {
                    font-size: 12px;
                }
            }

            .valoraciones {
                p {
                    font-size: 17px;
                }
            }
        }

        a {
            img {
                width: 70px;
                height: 60px;
            }
        }
    }
}

@media (max-width: 787px) {

    header {
        a {
            p {
                font-size: 15px;
            }
        }
    }

    main {
        .bienvenidos {
            h1 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }
        }

        .productos {
            h2 {
                font-size: 30px;
            }
        }

        .grilla-productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .presentacion {
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 25px;
            }

            iframe {
                width: 60%;
                height: 60%;
            }

            p {
                font-size: 12px;
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 617px) {
    header {
        img {
            width: 175px;
        }

        a {
            p {
                font-size: 13px;
            }
        }
    }

    main {
        .bienvenidos {
            h1 {
                font-size: 19px;
            }

            p {
                font-size: 12px;
            }
        }

        .productos {
            h2 {
                font-size: 20px;
            }
        }

        .presentacion {
            h2 {
                font-size: 16px;
            }
        }
    }

    footer {
        img {
            width: 80px;
            height: 50px;
        }

        div {
            .atencion {
                h2 {
                    font-size: 16px;
                }

                p {
                    font-size: 10px;
                }

            }

            .valoraciones {
                p {
                    font-size: 12px;
                }
            }
        }

        a {
            img {
                width: 40px;
                height: 35px;
            }
        }

        .redessociales {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a {
                img {
                    width: 40px;
                    height: 35px;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    header {
        a {
            display: none;
        }

        .navbar {
            .container-fluid {
                ul {
                    li {
                        a {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

//*? MEDIA QUERYS DE VEHICULOS*/

@media (max-width: 1075px) {
    main {
        .aventura img {
            height: auto;
        }

        .vehiculos {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 400px;
            margin-bottom: 30px;
            align-items: center;

            h1 {
                grid-column: 1/3;
            }
        }

        .descripcionmodelos {
            .modelos {
                img {
                    width: 200px;
                    height: 150px;
                }
            }

            .modelos-title {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                    text-align: center;
                }
            }

        }
    }
}

@media (max-width: 843px) {
    main {
        .vehiculos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .descripcionmodelos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .modelos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                img {
                    width: 280px;
                    height: 180px;
                }
            }
        }
    }
}

@media (max-width: 579px) {
    main {
        .vehiculos {
            h1 {
                font-size: 30px;
            }
        }

        .descripcionmodelos {
            .modelos {
                img {
                    width: 200px;
                    height: 130px;
                }
            }
        }
    }
}

@media (max-width: 415px) {
    main {
        .descripcionmodelos {
            .modelos {
                img {
                    width: 150px;
                    height: 90px;
                }
            }
        }
    }
}

//*! MEDIA QUERYS DE PLANES DE AHORRO*/

@media (max-width: 1008px) {
    main {
        .jeepahorro {
            img {
                height: auto;
            }
        }

        .tarjetasplan {
            h1 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 842px) {
    main {

        .tarjetasplan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 664px) {
    main {
        .tarjetasplan {

            h1 {
                font-size: 20px;
            }

            .tipodeplan {
                width: 320px;
                height: 270px;

                h2 {
                    font-size: 21px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

    }
}

//*? MEDIA QUERYS DE CONTACTO*/

@media (max-width: 906px) {
    main {
        .formulario {

            h1 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 644px) {
    main {
        .formulario {

            h1 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 472px) {
    main {
        .formulario {

            h1 {
                font-size: 13px;
            }
        }
    }
}

//*! MEDIA QUERYS DE HISTORIA*/

@media (max-width: 1181px) {
    .maindehistoria {
        .jeephistoria {
            img {
                height: auto;
            }

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }

            .historiaimg {
                flex-direction: column;

                img {
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}

@media (max-width: 794px) {
    .maindehistoria {
        .jeephistoria {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 15px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}